<h2>2025</h2>
<ul>
<li><a href="https://arxiv.org/pdf/2506.23127">Unleashing Embodied Task Planning Ability in LLMs via Reinforcement Learning</a>.<br>Zhaoye Fei, Li Ji, <b>Siyin Wang</b>, Junhao Shi, Jingjing Gong, Xipeng Qiu. <i>Arxiv 2025</i>, 2025. </li>
<li><a href="https://arxiv.org/pdf/2506.21230">World-aware Planning Narratives Enhance Large Vision-Language Model Planner</a>.<br>Junhao Shi, Zhaoye Fei, <b>Siyin Wang</b>, Qipeng Guo, Jingjing Gong, Xipeng Qiu. <i>Arxiv 2025</i>, 2025. </li>
<li><a href="https://arxiv.org/pdf/2505.15776">ConvSearch-R1: Enhancing Query Reformulation for Conversational Search with Reasoning via Reinforcement Learning</a>.<br>Changtai Zhu, <b>Siyin Wang</b>, Ruijun Feng, Kai Song, Xipeng Qiu. <i>Arxiv 2025</i>, 2025. </li>
<li><a href="https://arxiv.org/pdf/2503.10480"><em>World Modeling Makes a Better Planner:</em> Dual Preference Optimization for Embodied Task Planning</a>.<br><b>Siyin Wang</b>, Zhaoye Fei, Qinyuan Cheng, Shiduo Zhang, Panpan Cai, Jinlan Fu, Xipeng Qiu. <i>Association for Computational Linguistics (ACL)</i>, 2025. </li>
<li>
    <a href="https://arxiv.org/pdf/2504.09130">VisuoThink: Empowering LVLM Reasoning with Multimodal Tree Search</a>.<br>
    Yikun Wang<sup>*</sup>, <b>Siyin Wang</b><sup>*</sup>, Qinyuan Cheng, Zhaoye Fei, Liang Ding, Qipeng Guo, Dacheng Tao, Xipeng Qiu.
    <i>Association for Computational Linguistics (ACL)</i>, 2025.
    <br>
    <small><sup>*</sup>Equal contribution</small>
  </li>
<li><a href="https://arxiv.org/pdf/2406.15279">Cross-Modality Safety Alignment</a>.<br><b>Siyin Wang</b>, Xingsong Ye, Qinyuan Cheng, Junwen Duan, Shimin Li, Jinlan Fu, Xipeng Qiu, Xuanjing Huang. <i>Findings of North American Chapter of the Association for Computational Linguistics (NAACL Findings)</i>, 2025. </li>
</ul>
<h2>2024</h2>
<ul>
<li><a href="https://arxiv.org/pdf/2402.11251">LLM can Achieve Self-Regulation via Hyperparameter Aware Generation</a>.<br><b>Siyin Wang</b>, Shimin Li, Tianxiang Sun, Jinlan Fu, Qinyuan Cheng, Jiasheng Ye, Junjie Ye, Xipeng Qiu, Xuanjing Huang. <i>Findings of the Association for Computational Linguistics (ACL Findings)</i>, 2024. </li>
<li><a href="https://aclanthology.org/2024.lrec-main.470.pdf">Domain Generalization via Causal Adjustment for Cross-Domain Sentiment Analysis</a>.<br><b>Siyin Wang</b>, Jie Zhou, Qin Chen, Qi Zhang, Tao Gui, Xuanjing Huang. <i>The 2024 Joint International Conference on Computational Linguistics, Language Resources and Evaluation (LREC-COLING 2024)</i>, 2024. </li>
<li><a href="https://arxiv.org/pdf/2312.10479">A Soft Contrastive Learning-Based Prompt Model for Few-Shot Sentiment Analysis</a>.<br>Jingyi Zhou, Jie Zhou, Jiabao Zhao, <b>Siyin Wang</b>, Haijun Shan, Tao Gui, Qi Zhang, Xuanjing Huang. <i>International Conference on Acoustics, Speech and Signal Processing (ICASSP)</i>, 2024. </li>
<li><a href="https://arxiv.org/pdf/2403.02757">In-Memory Learning: A Declarative Learning Framework for Large Language Models</a>.<br>Bo Wang, Tianxiang Sun, Hang Yan, <b>Siyin Wang</b>, Qingyuan Cheng, Xipeng Qiu. <i>Arxiv 2024</i>, 2024. </li>
</ul>
<h2>2023</h2>
<ul>
<li><a href="https://arxiv.org/pdf/2310.03368">Evaluating Hallucinations in Chinese Large Language Models</a>.<br>Qinyuan Cheng, Tianxiang Sun, Wenwei Zhang, <b>Siyin Wang</b>, Xiangyang Liu, Mozhi Zhang, Junliang He, Mianqiu Huang, Zhangyue Yin, Kai Chen, Xipeng Qiu. <i>Arxiv 2023</i>, 2023. </li>
</ul>
<h2>2022</h2>
<ul>
<li><a href="https://aclanthology.org/2022.coling-1.607.pdf">Causal Intervention Improves Implicit Sentiment Analysis</a>.<br><b>Siyin Wang</b>, Jie Zhou, Changzhi Sun, Junjie Ye, Tao Gui, Qi Zhang, Xuanjing Huang. <i>International Conference on Computational Linguistics (COLING)</i>, 2022. </li>
</ul>
